@media screen and (max-width: 600px) {
  /**spotlight section**/
  .container-fluid {
    margin: auto;
  }
  .container-flex {
    flex-direction: column;
    align-items: center;
  }
  .bgc-container {
    width: 100%;
  }
  .spotlight-intro {
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .sp-heading {
    width: 80%;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
  }
  .spotlight-intro p {
    text-align: center;
  }

  .spotlight-img {
    padding: 0 50px;
    height: 100%;
  }
  .sp-btn {
    width: 60%;
  }
}
/**mobile device**/
@media screen and (max-width: 600px) {
  /**info-section**/
  .info-container {
    flex-direction: column;
    justify-content: center;
  }
  .info-tab {
    width: 100%;
    background: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .info-tab a {
    color: black;
  }
  .info-cards {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(1, 3fr);
  }
  .info-card h4 {
    font-size: larger;
  }
  /**footer-section**/
  .footer-section {
    padding: 0;
  }
  .footer-ul {
    display: flex;
    flex-direction: column;
  }
}
